
.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.85);
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: var(--color-text-link);
    text-decoration: var(--text-decoration);
}


/* Small screens */
@media all and (max-width: 600px) {
    .container {
        width: 100%;
    }
}